{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "0.12",
                    "browsers": ["> 1%"]
                },
                "useBuiltIns": "entry"
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}
