{
    "presets": ["es2015", "stage-0"],
    "plugins": [
        "transform-decorators-legacy", "transform-decorators", "transform-runtime",
        ["transform-es3-member-expression-literals", {"loose": true}],
        ["transform-es3-property-literals", {"loose": true}]
     ]
}
