{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "0.12",
                    "browsers": ["> 1%", "last 2 versions", "ie > 9"]
                },
                "useBuiltIns": "usage",
                "corejs": { "version": 3, "proposals": true }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-regenerator"
    ]
}
