{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "classes": true
    },
    "rules": {
        "indent": [2, 4],
        "no-console": 0,
        "object-curly-spacing": 0,
        "no-spaced-func": 0,
        "no-eval": 0,
        "no-use-before-define": 0
    }
}
